body{
	background-color: #ccc;	
	background-image: url(../picture/3.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	top:right;
	background-size: 200px;
}
li.mark{
		list-style-image: url(../picture/4.png);
		
}
 
 li.mark2{
	 list-style-image: url(../picture/5.png);
	 font-size:15px;
 }
 li.new{
	 background-image: url(../picture/6.png);
	 background-position: inside;
	 background-repeat: no-repeat;
 }
 h1{
	 font-size: 15px;
	 color: green;
	 font-family: "times new roman";
	 background-color: white;
 }